Quy trình tạo đề thi (1).json
{
  "name": "Quy trình tạo đề thi",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "output[0].content[0].text",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -528,
        -2704
      ],
      "id": "98bd4402-5536-4720-80ad-4db49ad5a89b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -336,
        -2480
      ],
      "id": "ae5a7713-8a5b-429b-9cb5-0c4d9d948208",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "n7ZyDlgI0RyhHCTG",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "Hãy đóng vai là một trợ lý giảng dạy, khi nhận được mẫu đề thi, hãy lấy thông tin và lập một đề thi theo ma trận :\nPhần 1: Trắc nghiệm (14 câu)\n- Biết: 7 câu\n- Hiểu: 4 câu\n- Vận dụng: 3 câu\nPhần 2: Tự luận (2 bài)\n- 1 bài mức hiểu\n- 1 bài vận dụng "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1152,
        -2704
      ],
      "id": "c8d41be7-a242-46af-99a9-e47375cb7d9e",
      "name": "Lập dàn ý"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Hãy đóng vai là một trợ lý giảng dạy, khi nhận được tài liệu {{ $json.output }} \nhãy bóc tách thành các phần :\n- phần 1 : các câu hỏi thành một dạng danh sách . Mỗi phần tử bao gồm :'cau_hoi', 'dap_an_A', 'dap_an_B', 'dap_an_C', 'dap_an_D'.\n- phần 2 : phần tự luận bao gồm : \"cau_hoi\", \"phan_tra_loi\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -848,
        -2704
      ],
      "id": "629eb944-6bf0-4ffa-81fe-8259165dec44",
      "name": "Bóc tách nội dung",
      "credentials": {
        "openAiApi": {
          "id": "n7ZyDlgI0RyhHCTG",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data[0].output }}",
        "name": "Đề Thi Toán",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {
          "convertToGoogleDocument": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -976,
        -2320
      ],
      "id": "228f1cae-71d7-4c3c-9442-19a56fb2722a",
      "name": "Lưu trữ",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nwI5inxltOJcoEaA",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1392,
        -2320
      ],
      "id": "2f645beb-8a94-417d-b5d2-63df4a02a33b",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1184,
        -2320
      ],
      "id": "9bf7deef-c2ca-4518-8227-e1d6fcfd8209",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1152,
        -2496
      ],
      "id": "a27f56bb-1df2-4a52-9c31-4977d6e23a02",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "n7ZyDlgI0RyhHCTG",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1-PvcbDka-bWVwv6okCZNWi2Spq8zfn3J4B1FKVmCkfA",
          "mode": "list",
          "cachedResultName": "Tạo đề thi tự động",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-PvcbDka-bWVwv6okCZNWi2Spq8zfn3J4B1FKVmCkfA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1913951706,
          "mode": "list",
          "cachedResultName": "Câu trả lời biểu mẫu 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-PvcbDka-bWVwv6okCZNWi2Spq8zfn3J4B1FKVmCkfA/edit#gid=1913951706"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        -2704
      ],
      "id": "054a55e5-19a1-4634-b920-d52a68d7c3fe",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "vwvjG7Sv3vpxTRkN",
          "name": "Google Sheets Trigger account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json['Link Doc'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1312,
        -2704
      ],
      "id": "de12a88d-999e-4090-9601-a0f6bdbb61b5",
      "name": "Đọc đề thi mẫu",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "rBbiDXrj2JN59VLV",
          "name": "Google Docs account 7"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['output[0].content[0].text'] }}",
        "options": {
          "systemMessage": "=Bạn là giáo viên Toán phổ thông.\nHãy định dạng nội dung sau thành đề thi hoàn chỉnh để xuất ra Google Drive:\nThông tin đề:\n- Lớp: {{ $('Google Sheets Trigger').item.json['Lớp'] }}\n- Môn: {{ $('Google Sheets Trigger').item.json['Môn'] }}\n- Chủ đề: {{ $('Google Sheets Trigger').item.json['Chủ đề'] }}\n- Thời gian: 90p\nNội dung đề:\n{{ $json['output[0].content[0].text'] }}\nYêu cầu trình bày:\n1)Đầu trang:\n- In hoa tên đề\n- Canh giữa\n- Có dòng ghi thời gian làm bài\n- Có dòng Họ tên – Lớp\n2) Nội dung:\n- Chia rõ PHẦN I: TRẮC NGHIỆM\n- PHẦN II: TỰ LUẬN\n- Phân bố điểm : mỗi câu ghi điểm cụ thể, tổng điểm các câu phải bằng 10\n- Mỗi câu xuống dòng rõ ràng\n3) Cuối trang:\n- Ghi chú: \"Học sinh không được sử dụng tài liệu\"\n4) Định dạng:\n- Phù hợp in giấy A4\n- Loại bỏ hoàn toàn các ký hiệu markdown như ##, ###, **, *, -, •\n- Không dùng ký hiệu đặc biệt\n- Không thêm tiêu đề phụ ngoài nội dung đề"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        -2704
      ],
      "id": "be8b18e2-932a-4e3b-8d91-870ba90992f4",
      "name": "Tạo bài thi"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Tạo bài thi",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Tạo bài thi",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lập dàn ý": {
      "main": [
        [
          {
            "node": "Bóc tách nội dung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bóc tách nội dung": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Lưu trữ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Lập dàn ý",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lưu trữ": {
      "main": [
        []
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Đọc đề thi mẫu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc đề thi mẫu": {
      "main": [
        [
          {
            "node": "Lập dàn ý",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo bài thi": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8416a361-2cc6-4cd0-89c0-d8b6c07a4913",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea02deae2ef296e15941600f695213eaabc46a23691985a997bba8a9f9346a91"
  },
  "id": "0zLRMH2prBFRTNAZpRo-x",
  "tags": []
}